<!--This is where all the errors are located-->
<div class="row mt-4">
    <div class="col-md-4 offset-md-2">
        <% errors.forEach(error => {%>
        <div class="alert alert-danger" role="alert">
            <h3>Error <span class="fas fa-exclamation-triangle"></span></h3>
            <hr>
            <ul>
                <li><%= error %></li>
            </ul>
        </div>
        <% }) %>
    </div>
</div>