<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="#">
            Mappr |
        </a>
        <a class="py-2 d-none d-md-inline-block navbar-link" href="/">Home</a>
        <!--Show different links depending on user login status -->
        <% if(typeof user === "undefined") {%>
        <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
        <a class="py-2 d-none d-md-inline-block" href="/signup">Signup</a>
        <% } else { %>
        <div class="dropdown">
            <a class="dropdown-toggle" style="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img style="border: 1px solid #b2bbbd; padding:4px; border-radius:50%" height="50" width="50" src="<%= user.profile_picture %>">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>

            </div>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" style="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-bell" style="margin-top:10px; color:#b2bbbd; font-size:20px"></span>
                <!--<span class="badge badge-light">9</span>-->
            </a>
            <div class="dropdown-menu" id="alert-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
        <% } %>
    </div>
</nav>